* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
}

/* [class^="col"] {
    border: 1px solid;
} */

#header {
    height: 30px;
}

nav img {
    height: 50px;
}

section {
    margin-top: 80px;
    margin-bottom: 30px;
}

.group {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 60px 0 60px 0;
}

.img-container {
    width: 60%;
}

.img-container img {
    width: 100%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz--transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    transition: box-shadow 0.4s ease-in-out;
    border-radius: 10px;
}

.img-container img:hover {
    box-shadow: 2px -2px 5px 0px#666666;
}

.description ul li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px
}

.description ul {
    padding-left: 0px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

#about h4 {
    text-align: center;
}

.contact ul {
    margin: 0 auto;
    padding-left: 0px;
    border: 1px solid;
}

.contact ul li {
    list-style-type: none;
    /* display: inline; */
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.contact ul li a {
    color: black;
}

@media (max-width: 575.98px) {
    .description ul li:first-child {
        font-size: 16px;
    }
    .img-container img {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz--transform: rotate(90deg);
        transform: rotate(90deg);
    }
}